extends /views/base.pug

block prepend title
	- title = app.title

block append js
	script(src='https://js.stripe.com/v3/')
	script.
		var stripe = Stripe('#{stripePublicKey}');
	script(src='/static/js/gift.js?v=' + git)

block body
	header.join-header#join
		form(method='POST').join-form.js-gift-form
			+csrf

			h1.join-title.text-center A gift for a#[br]better 2024!

			h4 Gift the Cable and one lucky person will get:

			ul.join-gift-reasons
				li Membership of 100% community owned local media
				li A quarterly print copy of the Cable, delivered to their door
				li 10% discount on tickets to our #[a(href='https://thebristolcable.org/events') events]
				li Our award-nominated weekly newsletter with a round up of what's happening in Bristol
				li A limited edition t-shirt (12 month gift only)

			img(src='/static/imgs/gift-header.png' style='width:100%')

			.js-gift-errors
				include /views/partials/flash.pug

			.hidden-js
				p.
					Unfortunately you must have JavaScript enabled to buy gifts online
					at the moment, please contact #[+emailSupport] if you want to continue.

			.hidden-nojs
				h4 1. Who is the gift for?
				.join-field-group
					.join-field
						input(type='text' name='firstname' placeholder='First name' required).join-field__input

					.join-field
						input(type='text' name='lastname' placeholder='Last name' required).join-field__input

				h4 2. What's their email address?
				.join-field
					input(type='email' name='email' placeholder='email@address.com' required).join-field__input

				h4 3. When should their gift start?
				p This is when we'll send them their welcome email, they can still activate their account beforehand.
				.join-field.join-field-date
					input(type='date' name='startDate' value='2023-12-25' required).join-field__input

				h4 4. Who shall we say the gift is from?
				.join-field
					input(type='text' name='fromName' placeholder='Your name' required).join-field__input

				h4 5. What's your email address?
				.join-field
					input(type='email' name='fromEmail' placeholder='email@example.com' required).join-field__input

				h4 6. Add an optional personal message
				p We'll include this in their welcome email.
				.join-field.join-field-message
					textarea(name='message' maxlength='140').join-field__input

				input(name='months' type='hidden')
				.join-gift-options
						button(value='12').btn.btn-success.btn-lg.join-btn.join-gift-btn.js-gift-type
							| 12 month membership
							small for £60
							small (includes free t-shirt)
						button(value='6').btn.btn-success.btn-lg.join-btn.join-gift-btn.js-gift-type
							| 6 month membership
							small for £30

				p.join-info.join-secure.small
					svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24')
						path(fill='currentColor', d='M18 10v-4c0-3.313-2.687-6-6-6s-6 2.687-6 6v4h-3v14h18v-14h-3zm-10 0v-4c0-2.206 1.794-4 4-4s4 1.794 4 4v4h-8z')
					| Your payment will be processed securely with Stripe.
		img(src='/static/imgs/gift-bg.jpg').join-img
